body{
    font-family: Arial, sans-serif;
}
nav{
    
    width: 100%;
    height: 60px;
    background: #344051;
    
}

.logo1{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 100px;
        float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat,url(../img/bg.png) center/cover no-repeat;   
}
.title__conteiner{
    float: left;
    margin: 216px 0px 0px 202px;
    color: #2c384a;
    text-align: center;
}
.title__conteiner h1{
    font-size: 60px;
    font-weight: bold;
}
.title__conteiner h4{
    margin-top: 20px;
    font-size: 22px;
    color: #79818d;
}
.title__conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 29px 28px 0px 14px;
}
.logo2{
   font-size: 25px; 
    text-align: center;
    line-height: 100px;  
}
.line1{
   text-align: center;
}
.photo1{
    text-align: center;
    margin-top: 42px;
}
.obomne{
    padding: 0px 300px 0px 300px;
    text-align: left;
    line-height: 20px;
    color: #38475a;
}
.photo2{
    text-align: center;
    line-height: 40px;
    
}






















.logo3{
     font-size: 25px; 
    text-align: center;
    line-height: 300px;    
}
.photo3{

        padding: 100px 0px 0px 250px;
}
photo4{
    padding: 100px 0px 0px 300px;
}
.veb{
    color: #e87700;
        text-align: justify;
    padding: 0px 0px 0px 230px;
    line-height: 50px;
}
.text1{
     padding: 0px 0px 0px 225px;
    text-align: justify;
    line-height: 20px;
    color: #5e6978;
    
}
.fon{
     background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) 10% 10%/auto 60% no-repeat
}