


@keyframes comming{
    from{
        opacity: 0;}
    to {
        opacity: 1;
    }
}
@keyframes menu{
    from{
    opacity: 0;
    margin-top: -89px;
    }
    to{
    opacity: 1;
    margin-top: 0px;
}
}
@keyframes logo1{
    from{
    opacity: 0;
    margin-left: -500px;
    }
    to{
    opacity: 1;
    margin-left: 202px;
    }
}

}
.fon{
    animation: translate3d(0px,0px,0px);
    background-color: #000;
    transition: all 1.5s ease 2s;
}
.fon:hover{
    transform: translate3d(50px, 50px,100px);
}